body
{
    --primary: #6c31bf;
}

p{ margin-bottom: 20px; }
a{
    color: #0041ed;
    text-decoration: none;
}

.icon
{
    width: 18px;
    vertical-align: bottom;
    color: white;
    margin-right: 2px;
}

.text-white a
{
    color: white !important;
}

.bg-nishino
{
    background-color: var(--primary) !important;
    color: white !important;
    font-weight: bold;
    text-shadow: 0px 2px 0px black;
}

.bg-pokedex .app-logo
{
    height: 20px;
}

.v-toolbar-title__placeholder
{
    display: flex;
    align-items: center;
}

.v-toolbar-title__placeholder img{ margin-right: 12px; }

.v-list-item__prepend > .v-icon 
{
    margin-inline-end: 12px !important;
}

.typewriter
{
    background-color: var(--primary);
    background-image: url(/img/giphy.gif);
    background-size: cover;
    background-blend-mode: luminosity;
    font-size: 1.6em;
    padding: 24px;
    position: relative;
    color: white;
    min-height: 7.9em;
}

.typewriter #typewriter
{
    display: block;
    width: 90%;
    min-height: 6.0em;
}

.typewriter #hero-logo
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

@media( max-width: 960px )
{
    .vueperslides__bullets{ display: none !important; }

    
}

@media (min-width: 960px)
{
    
    .v-container {
        padding: 64px !important;
    }

    .typewriter
    {
        font-size: 2.5em;
        padding: 64px;
        min-height: 309px;
    }

    .typewriter #typewriter
    {
        width: 60%;
        min-height: 4.5em;
    }

    .typewriter #hero-logo
    {
        position: absolute;
        bottom: 56px;
        right: 75px;
        width: 300px;
    }

}

#young-me
{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 24px;
}

@media (min-width: 960px)
{
    #young-me
    {
        width: 30%;
        float: left;
        margin-right: 32px;
    }
}

.vueperslides
{
    --radius: 5px;
    border-radius: var(--radius);
    box-shadow: 1px 2px 4px 3px #00000017;
}

.vueperslide { border-radius: var(--radius); }
.vueperslide__image { border-radius: var(--radius); }


#features
{
    background-color: #f2f2f2;
}

.feat-icon
{
    margin: 0px auto 20px;
}

.projeto
{
    margin-bottom: 32px;
}

.projeto .proj-img
{
    --img: attr('bg');
    background-image: var(--img);
    background-size: cover;
    background-position: center;
}

.projeto .descr{ padding: 20px; }

@media ( max-width: 950px )
{
    .projeto .proj-img{ height: 300px; }
    .projeto .descr{ padding: 16px; }
}

#whats
{
    position: fixed;
    right: 52px;
    bottom: 52px;
}

@media ( max-width: 600px )
{
    #whats
    {
        position: fixed;
        right: 24px;
        bottom: 24px;
    }   
}

#cta
{
    height: 500px;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 128px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0),var(--primary)), url('/img/harvey-cta.jpg');
    background-size: cover; 
    background-position: top right; /* or adjust as needed */
    padding: 128px 32px;
}

#cta h1
{
    color: white;
    line-height: 1em;
    margin-bottom: 12px;
    width: 50%;
    font-size: 3em;
}

#cta a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#cta-logo
{
    width: 80%;
    margin-bottom: 32px;
}

@media (max-width: 968px ) {
    #cta
    {
        height: unset;
        flex-direction: column;
        padding: 30px;
        justify-content: end;
        align-items: center;
        text-align: center;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0),var(--primary)), url('/img/harvey-cta.jpg') center;
        background-size: cover;
        width: 100%;
        aspect-ratio: 1/2;
        gap: 16px;
    }

    #cta h1
    {
        width: 80%;
        font-size: 2em;
    }

    #cta p
    {
        width: 80%;
    }

    #cta div
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#cta p{ color: white; }


#contato .v-btn,
#cta .v-btn
{
    font-weight: bold;
}

.bg-footer
{
    background-color: #e6e6e6;
    color: gray;
    text-shadow: 1px 2px 0px white;
    text-align: center;
    padding: 32px !important;
    font-size: 12px;
}

#blog img
{
    width: 100%;
    aspect-ratio: 16 / 9;
}

#post img#hero
{
    width: 100%;
    aspect-ratio: 10 / 4;
    object-fit: cover;
}

@media ( min-width: 600px )
{
    #post img#hero
    {
        aspect-ratio: 10/2;
    }
}

.v-application [lang]{ display: none; }
.v-application[lang="pt"] [lang~="pt"]{ display: block; }
.v-application[lang="en"] [lang~="en"]{ display: block; }
.v-application[lang="es"] [lang~="es"]{ display: block; }

.v-application[lang="pt"] .v-btn[lang~="pt"]{ display: inline-grid; }
.v-application[lang="en"] .v-btn[lang~="en"]{ display: inline-grid; }
.v-application[lang="es"] .v-btn[lang~="es"]{ display: inline-grid; }

.v-application[lang="pt"] li[lang~="pt"]{ display: list-item; }
.v-application[lang="en"] li[lang~="en"]{ display: list-item; }
.v-application[lang="es"] li[lang~="es"]{ display: list-item; }

/*
p:not([lang]){ color: red !important; }
li:not([lang]){ color: red !important; }
button:not([lang]){ color: red !important; }
*/

#end
{
    background-color: rgb(238, 238, 238);
}

ul
{
    list-style-position: inside;
}

.longtext
{
    background-image: url(/img/newsprint.png);
    background-position: top right;
}

#chat
{
    height: calc( 100vh - 65px );
    display: flex;
    flex-direction: column;

}

.chatMessages
{
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 20px;
    overflow: auto;
    height: 100%;
}

.chatMessages.loading
{
    background-image: url(/img/loading.gif);
    background-position:  center 90%;
    padding-bottom: 74px;
}

.chatMessages strong{ font-size: 14px; }

.chatMessage
{
    display: flex;
}

.chatMessage p.harvey strong
{
    color:var(--primary)
}

#send
{
    display: flex;
    flex-direction: row;
    flex-direction: 0;
    flex-shrink: 0;
    gap: 10px;
    background-color: #f2f2f2;
    padding: 16px;
}

#send .v-input__details{ display: none; }